-- Fix group_sessions table to allow NULL group_type for individual sessions
ALTER TABLE group_sessions ALTER COLUMN group_type DROP NOT NULL;
ALTER TABLE group_sessions ALTER COLUMN group_type SET DEFAULT NULL;

-- Add comment to clarify the change
COMMENT ON COLUMN group_sessions.group_type IS 'Τύπος ομάδας (χωρητικότητα) - NULL για ατομικές σεσίες συνδυασμού';
